<div id="mySidebar" class="sidebar" onmouseover="new toggleSidebar()" onmouseout="new toggleSidebar()">
    <a href="#"><i class="material-icons">info</i><span class="icon-text">about</span></a>
    <br>
    <a href="#"><i class="material-icons">spa</i><span class="icon-text">services</span></a>
    <br>
    <a href="#"><i class="material-icons">monetization_on</i><span class="icon-text">clients</span></a>
    <br>
    <a href="#"><i class="material-icons">email</i><span class="icon-text">contact</span></a>
</div>