<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Buscar Pesajes</h4>
                        <p class="card-category">Pesajes por placa, fecha y recinto</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="form" (ngSubmit)="buscarPesajes()">
                            <div class="row">
                                
                                <div class="col-md-6">
                                  <mat-form-field appearance="fill" class="example-full-width">
                                    <mat-label>Placa</mat-label>
                                    <input matInput placeholder="Ejm. 123ABC" type="text" formControlName="placa" required>
                                    <mat-error *ngIf="form.controls.placa.hasError('required')">Por favor ingrese una placa</mat-error>
                                  </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field appearance="fill" class="example-full-width">
                                        <mat-label>Fecha</mat-label>
                                        <input matInput placeholder="Ejm. 31-01-2021" [matDatepicker]="pickerDate" formControlName="fechaInicial" required readonly>
                                        <mat-datepicker-toggle matSuffix [for]="pickerDate"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerDate></mat-datepicker>

                                        <mat-error *ngIf="form.controls.fechaInicial.hasError('invalidDate')">Fecha inválida</mat-error>
                                        <mat-error *ngIf="form.controls.fechaInicial.hasError('required')">Por favor seleccione una fecha</mat-error>

                                        <!-- <mat-label>Ingrese un rango de fechas</mat-label>
                                        <mat-date-range-input [rangePicker]="pickerRangeDates" required>
                                            <input matStartDate formControlName="fechaInicial" placeholder="Fecha inicial">
                                            <input matEndDate formControlName="fechaFinal" placeholder="Fecha final">
                                        </mat-date-range-input>
                                        <mat-datepicker-toggle matSuffix [for]="pickerRangeDates"></mat-datepicker-toggle>
                                        <mat-date-range-picker #pickerRangeDates></mat-date-range-picker>
                                        
                                        <mat-error *ngIf="form.controls.fechaInicial.hasError('matStartDateInvalid')">Fecha inicial inválida</mat-error>
                                        <mat-error *ngIf="form.controls.fechaFinal.hasError('matEndDateInvalid')">Fecha final inválida</mat-error> -->
                                    </mat-form-field>
                                </div>

                                <!-- <div class="col-md-4">
                                    <mat-form-field appearance="fill" class="example-full-width">
                                        <mat-label>Recinto</mat-label>
                                        <mat-select [(value)]="recintoSelec" formControlName="recinto" required>
                                        <mat-option>--</mat-option>
                                        <mat-option *ngFor="let rec of recintos" [value]="rec">
                                            {{ rec.nombre }}
                                        </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="form.controls.recinto.hasError('required')">Por favor seleccione un recinto</mat-error>
                                    </mat-form-field>
                                </div> -->

                            </div>
                            <button style="float: right;" mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="!form.valid">Buscar</button>
                            <div class="clearfix"></div>
                        </form>

                        <div class="table-responsive">
                            <table mat-table class="table table-hover" [dataSource]="dataSourcePesajes">

                                <ng-container matColumnDef="placa">
                                    <th mat-header-cell *matHeaderCellDef> Placa </th>
                                    <td mat-cell *matCellDef="let psj"> {{ psj.placa }} </td>
                                </ng-container>

                                <ng-container matColumnDef="pesoBruto">
                                    <th mat-header-cell *matHeaderCellDef> Peso Bruto </th>
                                    <td mat-cell *matCellDef="let psj"> {{ psj.pesoBruto }} </td>
                                </ng-container>
                                
                                <ng-container matColumnDef="pesoTara">
                                    <th mat-header-cell *matHeaderCellDef> Peso Tara </th>
                                    <td mat-cell *matCellDef="let psj"> {{ psj.pesoTara || 0 }} </td>
                                </ng-container>

                                <ng-container matColumnDef="pesoNeto">
                                    <th mat-header-cell *matHeaderCellDef> Peso Neto </th>
                                    <td mat-cell *matCellDef="let psj"> {{ psj.pesoNeto || 0 }} </td>
                                </ng-container>

                                <ng-container matColumnDef="operacion">
                                    <th mat-header-cell *matHeaderCellDef> Operación </th>
                                    <td mat-cell *matCellDef="let psj"> {{ psj.operacion.nombre }} </td>
                                </ng-container>
                                
                                <ng-container matColumnDef="fechaBlz">
                                    <th mat-header-cell *matHeaderCellDef> Fecha </th>
                                    <td mat-cell *matCellDef="let psj"> {{ psj.fechaBlz | date:'dd/MM/YYYY HH:mm:ss' }} </td>
                                </ng-container>

                                <ng-container matColumnDef="recintoCod">
                                    <th mat-header-cell *matHeaderCellDef> Recinto </th>
                                    <td mat-cell *matCellDef="let psj"> {{ psj.recintoCod }} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                            </table>

                            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                            showFirstLastButtons 
                                            aria-label="Seleccione una página">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

  </div>
  